:host {
  .wrapper {
    overflow: hidden;
    background-image: url("../../../assets/general/backgrounds/Main_BG.png") !important; // this component gets overwritten random
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}
