.bg-black {
  background-color: #3c525a!important;
}

body {
  //background-image: url("../../Home.png");
  background-position: 100px 100px;
  background-size: cover;
  background-color: #242424;
}

.font-1 {
  font-size: 3.2vh;
}

.font-2 {
  font-size: 2.8vh;
}


.god-pulse{
  animation: pulse ease 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 100%;
  -webkit-animation: pulse ease 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 100%;
  -moz-animation: pulse ease 2s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 100%;
  -o-animation: pulse ease 2s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 100%;
  -ms-animation: pulse ease 2s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 100%;
}

@keyframes pulse{
  0% {
    transform:  scaleY(1.00) ;
  }
  50% {
    transform:  scaleY(1.05) ;
  }
  100% {
    transform:  scaleY(1.00) ;
  }
}

@-moz-keyframes pulse{
  0% {
    -moz-transform:  scaleY(1.00) ;
  }
  50% {
    -moz-transform:  scaleY(1.05) ;
  }
  100% {
    -moz-transform:  scaleY(1.00) ;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform:  scaleY(1.00) ;
  }
  50% {
    -webkit-transform:  scaleY(1.05) ;
  }
  100% {
    -webkit-transform:  scaleY(1.00) ;
  }
}

@-o-keyframes pulse {
  0% {
    -o-transform:  scaleY(1.00) ;
  }
  50% {
    -o-transform:  scaleY(1.05) ;
  }
  100% {
    -o-transform:  scaleY(1.00) ;
  }
}

@-ms-keyframes pulse {
  0% {
    -ms-transform:  scaleY(1.00) ;
  }
  50% {
    -ms-transform:  scaleY(1.05) ;
  }
  100% {
    -ms-transform:  scaleY(1.00) ;
  }
}
