<div class="keen-slider" #sliderRef>
  <div class="keen-slider__slide">
    <app-dungeon-card [image]="'skulls_island'" [goldPrice]="5000" appEnoughGold [currencyNeeded]="5000" [currencyType]="0" [unlockable]="'skulls_island'"></app-dungeon-card>
  </div>
  <div class="keen-slider__slide">
    <app-dungeon-card [image]="'skulls_island'" [goldPrice]="5000" appEnoughGold [currencyNeeded]="5000" [currencyType]="0" [unlockable]="'skulls_island'"></app-dungeon-card>
  </div>
  <div class="keen-slider__slide">
    <app-dungeon-card [image]="'souls_rift'" [goldPrice]="5000" appEnoughGold [currencyNeeded]="5000" [currencyType]="0" [unlockable]="'souls_rift'"></app-dungeon-card>
  </div>
  <div class="keen-slider__slide">
    <app-dungeon-card [image]="'lost_island'" [goldPrice]="5000" appEnoughGold [currencyNeeded]="5000" [currencyType]="0" [unlockable]="'lost_island'"></app-dungeon-card>
  </div>
</div>
