:host {
  margin: 0 1rem;
  .icon-btn {
    display: inline-block;
    text-align: center;
    -webkit-user-select: none;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-width: 40px;
  }

  .icon-btn:not(:disabled){
    cursor: pointer;
  }
}
