:host {

  .wrapper {
    margin: 1rem 0;

    .content {
      position: relative;
      span {
        position: absolute;
        right: 12px;
        bottom: 8px;
        font-family: 'Appareo';
        color:#EBEDC6;
        text-shadow: -1px 1px 5px rgb(0 0 0 / 33%);
      }
      img {
        width: 100%;
        border-radius: 5px;
      }
    }

  }
}
