<div class="wrapper">
    <!--https://cssgrid-generator.netlify.app/-->
  <div class="row m-0 h-100 align-items-center">
    <div class="col-3 d-flex flex-column align-items-center">
      <app-icon-button-text [icon]="'quest'" [iconPosition]="0" [text]="'Quest'" [color]="'#EFEFC7'"></app-icon-button-text>
      <app-icon-button-text [icon]="'god'" [iconPosition]="0" [text]="'Hero'" [color]="'#EFEFC7'"></app-icon-button-text>
      <app-icon-button-text [icon]="'shop'" [iconPosition]="0" [text]="'Shop'" [color]="'#EFEFC7'"></app-icon-button-text>
    </div>
    <div class="col-3">
      <app-god [name]="'Ullr'" [god]="'ullr'"></app-god>
    </div>
    <div class="col-5">
      <app-image-button-text [image]="'arena'" [text]="'The Arena'"></app-image-button-text>
      <app-image-button-text [image]="'navigation'" [text]="'Navigate'"></app-image-button-text>
    </div>
  </div>
</div>
