<div class="left">
  <app-icon-button [icon]="'three_bars'" [color]="'#F1E7D2'"></app-icon-button>

  <app-icon-info-text [icon]="'collection'" [iconPosition]="0" [headline]="'Collections'"
                      [subline]="'23/501'"></app-icon-info-text>

  <app-icon-info-text [icon]="'achievements'" [iconPosition]="0" [headline]="'Achievements'"
                      [subline]="'1/46'"></app-icon-info-text>

</div>

<div class="right">
  <app-icon-info-text [icon]="'gold'" [iconPosition]="1" [headline]="'Gold'"
                      [subline]="player.gold"></app-icon-info-text>
  <app-icon-info-text [icon]="'repute'" [iconPosition]="1" [headline]="'Repute'"
                      [subline]="player.repute"></app-icon-info-text>
  <app-icon-button [icon]="'settings'" [color]="'#F1E7D2'"></app-icon-button>
</div>



